*, *:before, *:after {
	box-sizing: border-box;
	position: relative;
}

html, body {
	font-size: 100%;
	overflow-x: hidden;
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6	{
	font-family: 'PT Sans', sans-serif;
}

.container {
	padding-top: 20px;
	max-width: 900px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

h1:first-child {
	margin-top: 0;
}

.edit-right {
	position: absolute;
	right: 15px;
	top: 9px;
}

.edit-right:before {
	content: none!important;
	padding: 0!important;
}

.hash {
	background-color: rgba(1, 1, 1, 0.14);
	padding: 4px;
	border-radius: 4px;
	margin-right: 8px;
}

.form-group {
	padding-left: 0;
}

@media (max-width: 1000px) {
	input.changelog {
		min-width: 50vw;
	}
}

textarea.editbox {
	font-family: Menlo, Monaco Consolas, "Courier New", monospace;
	height: calc(100vh - 200px);
	min-height: 200px;
	resize: vertical;
}

img {
	max-width: 100%;
}

pre {
	padding: 0;
	background: none;
	border: none
}

pre code {
	padding: 0;
	background: inherit;
}

code {
	white-space: pre-wrap;
}

.hljs {
	padding: 1em;
	margin: 20px 0;
}

.content {
	padding: 14px;
}

table {
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all;
}

table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}

table th, table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}
