.container {
	padding-top: 20px;
	max-width: 900px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

h1:first-child {
	margin-top: 0;
}

.edit-right {
	float: right;
}

.edit-right:before {
	content: none!important;
	padding: 0!important;
}

.hash {
	background-color: rgba(1, 1, 1, 0.14);
	padding: 4px;
	border-radius: 4px;
	margin-right: 8px;
}

.form-group {
	padding-left: 0;
}

@media (min-width: @screen-md-min) {
	input[name="msg"] {
		min-width: 50vw;
	}
}

.editbox {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
